.form {
    font-family: inherit;
    color: inherit;
    @include media(tab-port) {
        margin: 0 auto;
        max-width: 50rem;
    }
    &__input {
        display: block;
        font-size: 1.5rem;
        width: 90%;
        @include media(tab-port) {
            width: 100%;
        }
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: white;
        border: none;
        border-bottom: 3px solid transparent;
        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &:focus &::placeholder {
            display: none;
        }

        &:placeholder-shown + .form__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__group--radio {
        display: inline-block;
        margin-right: 3rem;
        @include media(phone) {
            margin-bottom: 4rem;
        }
    }

    &__radio {
        opacity: 0;
        position: absolute;
        transform: translateX(0.9rem) translateY(1.2rem);
        z-index: 10;
        &-label {
            margin-left: 4rem;
            margin-top: 0.7rem;
            display: block;
            position: relative;
            transition: all 0.3s;
        }
        &-button {
            position: absolute;
            display: inline-block;
            width: 3rem;
            height: 3rem;
            border: 0.3rem solid $color-primary-dark;
            border-radius: 50%;
            transform: translateX(-4rem) translateY(-0.2rem);

            &::after {
                content: "";
                display: inline-block;
                opacity: 0;
                width: 1.5rem;
                height: 1.5rem;
                background-color: $color-primary-dark;
                border-radius: 50%;
                position: absolute;
                top: 1.2rem;
                left: 1.2rem;
                transform: translate(-50%, -50%);
                transition: all 0.2s;
            }
        }

        &:checked + &-label > &-button::after {
            opacity: 1;
        }
    }
}
