*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 }

html {
  font-size: 62.5%;  // 1 rem = 10px;

  @include media(tab-land) {
    font-size: 56.25%; // 1 rem = 9px;
  }
  @include media(tab-port) {
    font-size: 50%; // 1 rem = 8px;
  }
  // @include media(phone) {
  //   font-size: 50%; // 1 rem = 8px;
  // }
  @include media(big-desktop) {
    font-size: 75%; // 1 rem = 12px;
  }

}


body {
  box-sizing: border-box;
  padding: 3rem; 

  @include media(tab-port) {
    padding: 0;
  }
}